[Unit]
Description=MQTT Watchdog Service
Wants=network-online.target
After=network-online.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mqtt-watchdog --config /etc/default/mqtt-watchdog
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

